.body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #ffffff;
}
.app-wrapper {
  display: grid;

  grid-template-rows: 60px 100%;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
          "h h"
          "n c";
  grid-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;

}
.app-wrapper-content {
  grid-area: c;
  background-color: #dfe6ff;
  border-radius: 3px;
}
